@import 'lib';

#performance{
    min-width: 588px;
    min-height: 500px;
}

.main text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}
