@import 'lib';

#performance{
    min-height: 500px;
    background: white url("../../img/mkt/ajax-loader.gif") no-repeat center center;
}

#perfwarning {
    color: red;
}

.main text {
    font: 10px sans-serif;
}

.axis line, .axis path {
    shape-rendering: crispEdges;
    stroke: black;
    fill: none;
}

circle {
    fill: steelblue;
}
